<h2>Advanced Router Demo</h2>
<div>
    This sample app illustrates the use of advanced Routing features:
    <ul>
        <li>Auxiliary routes (ComposeMessage component displayed in 'side' router-outlet)</li>
        <li>Router trace for diagnostics</li>
        <li>Route Guard (Secure access to Admin component)</li>
        <li>Route Resolver (pre-fetch product details before navigating)</li>
        <li>Navigation Transitions with Animations</li>
        <li>Lazy loading (Product Module)</li>
        <li>Preloading the Product module</li>
        <li>Set metadata for SEO</li>
        <li>Router events</li>
    </ul>
</div>


