<header>
  <h1>
    {{ title }}
  </h1>

  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a [routerLink]="[{ outlets: { side: ['contact']} }]" routerLinkActive="active">Contact</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
  <router-outlet name="side"></router-outlet>
</main>

<footer>
  <hr>
  <a href="http://www.angularacademy.ca" taget="_blank">www.angularacademy.ca</a> 2020 (running Angular v{{version}})
  <div class="right">
    <a (click)="login()" *ngIf="!isLoggedIn">login</a>
    <a (click)="logout()" *ngIf="isLoggedIn">logout</a>
  </div>
</footer>